<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419084311118-a1iflaesne9iq8k3996lukred3ulrns5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419084311118-a1iflaesne9iq8k3996lukred3ulrns5</string>
	<key>API_KEY</key>
	<string>AIzaSyBwp2pZpzbGb_RhXKrdHrnkbcQfivA9bp4</string>
	<key>GCM_SENDER_ID</key>
	<string>419084311118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tokopedia.tokopedia</string>
	<key>PROJECT_ID</key>
	<string>tokopedia-a1a1a</string>
	<key>STORAGE_BUCKET</key>
	<string>tokopedia-a1a1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419084311118:ios:bfc146ea1dd55d48dc011f</string>
</dict>
</plist>